
@{
    ViewBag.Title = "HuyDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 style="color: red ;TEXT-ALIGN: CENTER; MARGIN: 20PX;">NẾU BẠN MUỐN HUỶ ĐƠN XIN GỌI VÀO SỐ : 012345678 </h2>
</div>

